# Workaround issue#209 -
# https://bitbucket.org/hpk42/pytest/issue/209/valueerror-compile-unrecognised-flags
# py == 1.4.10
# pytest == 2.3.1
# setuptools >= 0.6c11
py

# Until issue#232 is resolved, require pytest-2.3.3
# https://bitbucket.org/hpk42/pytest/issue/232/pytest-234-throws-internalerror-when-not
pytest == 2.3.3

# YAML for parametrizing
PyYAML

# for Assert class
UnittestZero
